//WHITE
$primary-white: #FFF;

//BLUE
$palette-blue-1: #F6FBFF;
$palette-blue-2: #E6F8FF;
$palette-blue-3: #0087E5;
$palette-blue-4: #074985;
$palette-blue-5: #0D2A49;

//GREEN
$palette-green-1: #C9FFDF;
$palette-green-2: #2BBE63;
$palette-green-3: #1E994D;
$palette-green-4: #109317;

//ORANGE
$palette-orange-1: #FFFBC3;
$palette-orange-3: #FFA10D;
$palette-orange-4: #FC7E00;

//RED
$palette-red-3: #CD2617;

//GREY
$palette-grey-1: #F7F7F7;
$palette-grey-2: #F1F1F1;
$palette-grey-3: #E4E4E4;
$palette-grey-4: #979797;

//ASH-GREY
$palette-ash-grey-1: #F6F7FA;
$palette-ash-grey-2: #EDF4F7;
$palette-ash-grey-3: #737F8D;
$palette-ash-grey-4: #404850;
